div{font-family;times new roman}
div #Blog1{color:blue;}
div #Blog2{color:red;}
div #Blog3{color:green;}
div #Blog4{color:purple;}
div #Blog5{color:yellow;}
div #Blog6{color:pink;}
div #Blog7{color:blue;}
div #Blog8{color:red;}
div #Blog9{color:green;}
div #Blog10{color:purple;}